@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('http://fonts.cdnfonts.com/css/georgia');

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #151515;
    background: #f5f5f5;
    font-family: 'Tinos', 'Georgia', serif;
}

@media (max-width: 1279px) {
    body {
        padding: 0 40px;
    }
}

header {
    min-height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
}

@media (min-width: 375px) {
    header h1 {
        font-size: 3rem;
    }
}

@media (min-width: 800px) {
    header h1 {
        font-size: 3.75rem;
    }
}

main {
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

footer {
    display: flex;
    gap: 40px;
    bottom: 0px;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    text-align: center;
    margin: 0;
    font-size: 0.875rem;
    color: #666666;
}

footer p a {
    text-decoration: none;
    font-size: 0.875rem;
    color: #666666;
}

footer a:hover {
    text-decoration: underline;
}

footer .creators {
    display: flex;
    gap: 10px;
    align-items: center;
}

footer .rsschool-logo {
    height: 32px;
}